@import url('https://fonts.googleapis.com/css2?family=Explora&family=Lobster&display=swap');

body {
    background-color: #ffafcc;
    font-family: 'Lobster', cursive;
font-size: 20px;
/*tamanho da fonte */
font-weight: bold;
/* fonte em negrito */
text-align: center;
/* ajustar posição do texto */

}


h1 {
    border: red 2px solid;
}

.text1 {
    background-color: aqua
}

.text2 {
    background-color: blueviolet;
}